body {
    color: #023d71;
    background-color: #f1f1f1;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #075ebd;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #023d71;
    color: #fff100;
  }

  .header {
      background-color: #023d71;
      display: flex;
      align-items: center;
  }

  .text-body {
    padding: 10px 450px 0px 150px;
    text-align: justify;
  }

  .image-on-body {
    height: 300px; float: right;   
    margin: 5px 5px 5px 30px;   
    border: 2px solid #023d71;
  }